@charset "UTF-8";
body{
    background-image: url("../images/okumono_sf3.png");
    background-size: cover;
    background-position: center;
    color: white;
}
p{
    background-color: rgb(43, 42, 42);
    font-size: 20px;
}
.align-center{
    text-align: center;
}
a{
    text-align: center;
    font-size: 30px;
}
.vanphan{
    background: rgba(4, 244, 80, 0.886); /* 黒色の半透明背景 */
  backdrop-filter: blur(5px);    /* 背景を少しぼかす（高級感が出ます） */
  padding: 20px;
  border-radius: 15px;
  border: 1px solid #00ffff;    /* SF風の細い水色枠線 */
  margin: 40px auto;
}
.daltom{
    display: block;
    margin: 20px auto;
    width: 800px;
    border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 255, 255, 0.3);
  border: 1px solid rgba(0, 255, 255, 0.2); 
  transition: transform 0.3s; 
}
